.top-entry{
  margin-top: 25px;
}
.heading-block {
    margin-bottom: 20px;
    border-bottom: 3px solid #f1f1f1;
}
.heading-block h3 {
    display: inline-block;
    border-bottom: 3px solid #e74c3c;
    padding-bottom: 8px;
    margin-bottom: -3px;
}
.top-entry .entry .entry-title {
    font-size: 13px;
}
.entry-list-item {
    margin-bottom: 26px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}
.listing-conrainer{

}
.listing-conrainer ul {

}
.listing-conrainer ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
}
.listing-conrainer ul li a {
    color: #313131;
}
.listing-conrainer ul li a .label {

}
.date-text {
    display: block;
    color: #313131;
    font-weight: 600;
    font-size: 12px;
    margin-top: 6px;
}
.labelLN {
    background-color: rgb(231, 76, 60);
}
.labelCIR {
    background-color: rgb(49, 49, 49);
}
.labelLU {
    background-color: rgb(51, 122, 183);
}
.flag-container {
    float: right;
    margin: 30px 0px;
}

.flag-container img{

}
@media (max-width: 992px) {
  .flag-container {
    display: none;
}
}
